<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".OurStory"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.OurStory">

        <!-- Maps API -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API}" />

        <!-- First Act -->
        <activity
            android:name=".ui.splashscreen.SplashscreenActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.OurStory">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.AddStoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.AboutdevActivity"
            android:exported="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge" />
    </application>

</manifest>